<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.dao.sys.member.ISysMemberMapper">
	<resultMap id="sysMemberMap" type="sysMember">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
		<result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="base_column">
		ID,LOGIN_NAME,PASSWORD,MOBILE
	</sql>
	
	<!-- 根据登录名查询 begin -->
	<select id="loadByLoginName" parameterType="String" resultMap="sysMemberMap">
	SELECT
	<include refid="base_column"/>
	FROM SYS_MEMBER
	where LOGIN_NAME = #{loginName}
	</select>
	<!-- 根据登录名查询 end -->

</mapper>